<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"/>
    <application
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true"
        tools:targetApi="28"
        tools:ignore="GoogleAppIndexingWarning"/>

    <queries>
        <package android:name="com.phonepe.app" />                        //Phonepe
        <package android:name="com.google.android.apps.nbu.paisa.user" /> // GPay
        <package android:name="net.one97.paytm" />                        // Paytm
        <package android:name="in.org.npci.upiapp" />                     // BHIM
        <package android:name="in.amazon.mShop.android.shopping" />       // AmazonPay
    </queries>
</manifest>
